@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
}

body {
  background-color: #212121;
  width: 100%;
  height: 100%;
  color: #fff;
}

header {
  background-color: #bb1b588a;
  border-radius: 30px;
  padding: 3rem;
  margin: 1rem;
  text-align: center;
}

header h1 {
  padding-bottom: 3rem;
  font-weight: 500;
}

.inputs {
  display: flex;
}

input {
  margin: 0;
  border: solid #e01f69;
  border-radius: 30px 0 0 30px;
  width: 75%;
  padding: 0.6rem;
  font-size: 1rem;
  font-weight: 400;
  outline: none;
  background-color: #212121;
  color: #ddd;
}

button {
  padding: 0.5rem;
  width: 25%;
  background-color: #e01f69;
  color: #ddd;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  cursor: pointer;
  border-radius: 0 30px 30px 0;
  border: none;
  outline: none;
  transition: all 0.3s ease-in-out;
}

button:hover {
  margin-left: 0.5rem;
  background-color: #e043b8;
  border-radius: 30px;
}

section#tasks {
  margin: 0.5rem;
}

ul {
  list-style: none;
}

ul li {
  position: relative;
  padding: 0.7rem;
  background-color: #303030;
  text-decoration: none;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 1.3rem;
  font-weight: 300;
  margin: 0.5rem;
  transition: all 0.3s ease-in-out;
}

ul li a {
  text-decoration: none;
  color: #ddd;
}

ul li span {
  color: #aaa;
  font-style: italic;
  font-size: 0.8rem;
  font-weight: 200;
  padding-left: 1rem;
}

ul li div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

ul li:hover {
  background: #555;
}

a.btnUpdate {
  padding: 0.5rem;
  margin: 0.1rem;
  text-decoration: none;
  color: #ddd;
  transition: all 0.3s ease-in-out;
}

a.btnUpdate:hover {
  background: #e043b8;
  border-radius: 0.9rem;
  color: #ddd;
}

a.btnDelete {
  padding: 0.5rem;
  text-decoration: none;
  margin: 0.1rem;
  color: #ddd;
  transition: all 0.3s ease-in-out;
}

a.btnDelete:hover {
  background: #f44336;
  border-radius: 0.9rem;
  color: #ddd;
}

section#modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #00000095;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
}

div#card {
  width: 30rem;
  position: relative;
  background-color: #202024;
}

div#head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}

div#card h2 {
  margin: 0;
}

div#card a#close {
  color: #ddd;
  text-decoration: none;
  font-size: 1.5rem;
  transition: all 0.3s ease-in-out;
}

div#card a#close:hover {
  background-color: #f44336;
  border-radius: 5rem;
  padding: 0 0.22rem;
}

div#card hr {
  width: 90%;
  margin: 0 auto;
  border-color: #ddd;
}

div#card p {
  padding: 1.5rem;
  text-align: center;
  font-size: 1.3rem;
  line-height: 2rem;
}

div#btns {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}

div#btns a {
  text-decoration: none;
  padding: 0.5 rem;
  width: 7rem;
  text-align: center;
  background-color: #202024;
  font-size: 1.5rem;
  border-radius: 30px;
}

div#btns a#btnNo {
  color: #f44336;
  border: solid 1px #f44336;
  margin-right: 1rem;
  transition: all 0.3s ease-in-out;
}

div#btns a#btnNo:hover {
  color: #ddd;
  background-color: #f44336;
}

div#btns a#btnYes {
  color: #00aa2a;
  border: solid 1px #00aa2a;
  transition: all 0.3s ease-in-out;
}

div#btns a#btnYes:hover {
  color: #ddd;
  background-color: #00aa2a;
}

.message {
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 9999;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.message-danger {
  background-color: #f44336;
  color: #ddd;
}

.message-success {
  background-color: #00aa2a;
  color: #ddd;
}

span#close-message {
  font-size: 2rem;
  cursor: pointer;
  padding-left: 2rem;
}
